body{
	padding: 10%;

}
.tema_principal{
	color:  red;
	text-align: center;
}
h1.titulo{
	text-align: center;
}
.sub {
	color:  red;
}
.cuerpo {
	font-weight: bold;
}
.sangria{
	color: red;
	margin-left: 30px;
}


/*
.articulo{

}
.articulo:before{
	content: "Articulo1 .-";
	font-weight: bold;
	color: red;

};*/

